Repository IQSS/dataverse-frontend, pull requests merged in 2023-12, with the labels that each got.

#233 Feature/222 not implemented modal
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/dataset/dataset-action-buttons/link-dataset-button/LinkDatasetButton.tsx
  src/sections/dataset/dataset-action-buttons/publish-dataset-menu/PublishDatasetMenu.tsx
  src/sections/dataset/dataset-files/dataset-upload-files-button/DatasetUploadFilesButton.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/download-files/DownloadFilesButton.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.tsx
  src/sections/not-implemented/NotImplementedModal.tsx
  src/sections/not-implemented/NotImplementedModalContext.ts
  src/sections/not-implemented/NotImplementedModalProvider.tsx
  src/stories/WithNotImplementedModal.tsx
  src/stories/dataset/Dataset.stories.tsx
  src/stories/not-implemented/NotImplementedModal.stories.tsx
  tests/component/sections/not-implemented/NotImplemented.spec.tsx
Labels: Size: 3

#225 207 - Integration get deaccessioned dataset
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/e2e-integration/shared/datasets/DatasetHelper.ts
Labels: Size: 3, integration

#227 224 - Integration files tabular data
  src/files/domain/models/File.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileTabularData.tsx
  src/stories/dataset/dataset-citation/DatasetCitation.stories.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/e2e-integration/shared/files/FileHelper.ts
Labels: Size: 3, integration

#240 238 - Integration single file download
  packages/design-system/src/lib/components/dropdown-button/dropdown-button-item/DropdownButtonItem.tsx
  src/files/domain/models/File.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileDownloadOptions.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileNonTabularDownloadOptions.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileTabularDownloadOptions.tsx
  src/stories/dataset/dataset-files/files-table/file-actions/file-action-buttons/access-file-menu/AccessFileMenu.stories.tsx
  src/stories/dataset/dataset-files/files-table/file-info/file-info-cell/FileInfoCell.stories.tsx
  tests/component/files/domain/models/FileMother.ts
  tests/component/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/AccessFileMenu.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileDownloadOptions.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileNonTabularDownloadOptions.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/access-file-menu/FileTabularDownloadOptions.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileType.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, integration

#232 Feature/188 dataset download options
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/files/domain/models/File.ts
  src/sections/dataset/dataset-action-buttons/DatasetActionButtons.tsx
  src/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.tsx
  src/stories/dataset/dataset-action-buttons/DatasetActionButtons.stories.tsx
  src/stories/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.spec.tsx
Labels: Size: 3, UI

#254 221 - Integration multiple files download
  src/dataset/domain/models/Dataset.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/files/domain/models/File.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/getMultipleFileDownloadUrl.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/download-files/DownloadFilesButton.tsx
  src/sections/file/multiple-file-download/MultipleFileDownloadContext.ts
  src/sections/file/multiple-file-download/MultipleFileDownloadProvider.tsx
  src/settings/infrastructure/SettingJSDataverseRepository.ts
  src/stories/files/FileMockLoadingRepository.ts
  src/stories/files/FileMockNoDataRepository.ts
  src/stories/files/FileMockNoFiltersRepository.ts
  src/stories/files/FileMockRepository.ts
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/files/domain/models/FileMother.ts
  tests/component/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/download-files/DownloadFilesButton.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
Labels: Size: 3, integration

#256 244 - Integration download dataset
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/files/domain/models/File.ts
  src/sections/dataset/dataset-action-buttons/DatasetActionButtons.tsx
  src/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.tsx
  src/stories/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/dataset/dataset-action-buttons/access-dataset-menu/AccessDatasetMenu.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
Labels: Size: 3, integration

#247 Feature/223 integration citation for deaccessioned dataset
  package-lock.json
  package.json
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/stories/dataset/Dataset.stories.tsx
  src/stories/dataset/WithDeaccessionedDataset.tsx
  src/stories/dataset/dataset-action-buttons/DatasetActionButtons.stories.tsx
  src/stories/dataset/dataset-action-buttons/publish-dataset-menu/PublishDatasetMenu.stories.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
Labels: Size: 3, integration
