Repository IQSS/dataverse-frontend, pull requests merged in 2024-12, with the labels that each got.

#571 Fix Edit collection page type errors
  package-lock.json
  package.json
Labels: Size: 3, SPA, Original size: 3, SPA.Q4.10, FY25 Sprint 12

#557 remove unit and integration tests from pre-commit hook
  package.json
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q4.10, FY25 Sprint 11, FY25 Sprint 12

#554 Share Collection and Share Dataset features
  README.md
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/design-system/src/lib/stories/button-group/ButtonGroup.stories.tsx
  public/locales/en/collection.json
  public/locales/en/dataset.json
  public/locales/en/shared.json
  src/sections/collection/Collection.module.scss
  src/sections/collection/Collection.tsx
  src/sections/collection/share-collection-button/ShareCollectionButton.tsx
  src/sections/dataset/dataset-action-buttons/DatasetActionButtons.module.scss
  src/sections/dataset/dataset-action-buttons/DatasetActionButtons.tsx
  src/sections/dataset/dataset-action-buttons/share-dataset-button/ShareDatasetButton.tsx
  src/sections/shared/social-share-modal/SocialShareModal.module.scss
  src/sections/shared/social-share-modal/SocialShareModal.tsx
  src/stories/shared/social-share-modal/SocialShareModal.stories.tsx
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/DatasetActionButtons.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/share-dataset-button/ShareDatasetButton.spec.tsx
  tests/component/sections/shared/social-share-modal/SocialShareModal.spec.tsx
Labels: Size: 3, SPA: Dataset page (View), SPA: Collection Page, GREI Re-arch, Original size: 3, SPA.Q4.8, FY25 Sprint 10, FY25 Sprint 11, FY25 Sprint 12

#563 Change the data format of File's creationDate and publishDate from Date to string
  package-lock.json
  package.json
  packages/design-system/package.json
  src/collection/domain/models/CollectionSearchCriteria.tsx
  src/files/domain/models/FileMetadata.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileMetadataMapper.ts
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileDate.tsx
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/upload-dataset-files/uploaded-files-list/add-tags-modal/AddTagsModal.tsx
  src/sections/upload-dataset-files/uploaded-files-list/file-form/FileForm.tsx
  src/shared/helpers/DateHelper.ts
  tests/component/files/domain/models/FileMetadataMother.ts
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileDate.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, SPA: File Page, GREI Re-arch, Original size: 3, SPA.Q4.10, FY25 Sprint 12
