Repository IQSS/dataverse-frontend, pull requests merged in 2024-04, with the labels that each got.

#357 Feature/336 dynamically render form fields
  packages/design-system/src/lib/components/accordion/Accordion.tsx
  packages/design-system/src/lib/components/accordion/AccordionBody.tsx
  packages/design-system/src/lib/components/accordion/AccordionHeader.tsx
  packages/design-system/src/lib/components/accordion/AccordionItem.tsx
  packages/design-system/src/lib/components/form/form-checkbox-group/FormCheckboxGroup.module.scss
  packages/design-system/src/lib/components/form/form-checkbox-group/FormCheckboxGroup.tsx
  packages/design-system/src/lib/components/form/form-group-multiple-fields/FormGroupWithMultipleFields.tsx
  packages/design-system/src/lib/components/form/form-group/FormGroup.tsx
  packages/design-system/tests/component/form/form-group/FormGroup.spec.tsx
  src/metadata-block-info/domain/models/MetadataBlockInfo.ts
  src/metadata-block-info/domain/repositories/MetadataBlockInfoRepository.ts
  src/metadata-block-info/domain/useCases/getMetadataBlockInfoByCollectionId.ts
  src/metadata-block-info/infrastructure/repositories/MetadataBlockInfoJSDataverseRepository.ts
  src/sections/create-dataset/CreateDatasetFactory.tsx
  src/sections/create-dataset/CreateDatasetForm.module.scss
  src/sections/create-dataset/CreateDatasetForm.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/DateField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/EmailField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/FloatField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/IntField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/TextBoxField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/TextField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/UrlField.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/Vocabulary.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/VocabularyMultiple.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/index.ts
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/index.module.scss
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/index.tsx
  src/sections/create-dataset/MetadataBlockFormFields/index.tsx
  src/sections/create-dataset/MetadataBlocksSkeleton.tsx
  src/sections/create-dataset/useGetMetadataBlocksInfo.tsx
  src/stories/create-dataset/DatasetCreate.stories.tsx
  src/stories/create-dataset/MetadataBlockInfoMockErrorRepository.ts
  src/stories/create-dataset/MetadataBlockInfoMockLoadingRepository.ts
  src/stories/create-dataset/MetadataBlockInfoMockRepository.ts
  tests/component/create-dataset/CreateDatasetForm.spec.tsx
  tests/component/metadata-block-info/domain/models/MetadataBlockInfoMother.ts
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Form

#354 339 add alerts for create dataset
  public/locales/en/createDataset.json
  public/locales/en/dataset.json
  src/alert/domain/models/Alert.ts
  src/sections/create-dataset/CreateDatasetForm.tsx
  src/sections/create-dataset/useCreateDatasetForm.tsx
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/stories/dataset/Dataset.stories.tsx
  tests/component/create-dataset/CreateDatasetForm.spec.tsx
  tests/component/sections/dataset/dataset-alerts/DatasetAlerts.spec.tsx
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Form

#352 344 - Display real collection data in the Collection Page
  .env.example
  README.md
  package-lock.json
  package.json
  src/collection/domain/models/Collection.ts
  src/collection/domain/repositories/CollectionRepository.ts
  src/collection/domain/useCases/getCollectionById.ts
  src/collection/infrastructure/mappers/JSCollectionMapper.ts
  src/collection/infrastructure/repositories/CollectionJSDataverseRepository.ts
  src/sections/collection/Collection.module.scss
  src/sections/collection/Collection.tsx
  src/sections/collection/CollectionFactory.tsx
  src/sections/collection/CollectionInfo.tsx
  src/sections/collection/CollectionSkeleton.tsx
  src/sections/collection/useCollection.tsx
  src/sections/dataset/DatasetSkeleton.tsx
  src/sections/file/FileSkeleton.tsx
  src/sections/shared/hierarchy/BreadcrumbsSkeleton.tsx
  src/stories/collection/Collection.stories.tsx
  src/stories/collection/CollectionInfo.stories.tsx
  src/stories/collection/CollectionLoadingMockRepository.ts
  src/stories/collection/CollectionMockRepository.ts
  src/stories/collection/NoCollectionMockRepository.ts
  src/stories/collection/datasets-list/DatasetCard.stories.tsx
  src/stories/collection/datasets-list/DatasetsList.stories.tsx
  src/stories/collection/datasets-list/NoDatasetsMessage.stories.tsx
  tests/component/collection/domain/models/CollectionMother.ts
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/CollectionInfo.spec.tsx
  tests/component/sections/create-dataset/CreateDatasetForm.spec.tsx
  tests/component/shared/FakerHelper.ts
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/fixtures/new-collection-data.json
  tests/e2e-integration/integration/collection/CollectionJSDataverseRepository.spec.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, integration, SPA: Collection Page

#367 Fix/273 deaccessioned dataset unauthenticated
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
Labels: pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#362 Refactor/276 avoid multiple api calls
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasets.ts
  src/dataset/domain/useCases/getTotalDatasetsCount.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/collection/datasets-list/useDatasets.tsx
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetLoadingMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/NoDatasetsMockRepository.ts
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/datasets-list/DatasetsList.spec.tsx
  tests/e2e-integration/integration/collection/CollectionJSDataverseRepository.spec.ts
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#351 337 multiple values field type
  packages/design-system/src/lib/components/form/form-group/form-element/FormInput.tsx
  public/locales/en/createDataset.json
  src/dataset/domain/useCases/validateDataset.ts
  src/sections/create-dataset/AuthorFormGroup.tsx
  src/sections/create-dataset/CreateDatasetForm.tsx
  src/sections/create-dataset/dynamic-fields-buttons/DynamicFieldsButtons.module.scss
  src/sections/create-dataset/dynamic-fields-buttons/DynamicFieldsButtons.tsx
  src/sections/create-dataset/useDatasetFormData.tsx
  src/sections/create-dataset/useMultipleFields.tsx
  src/stories/create-dataset/AuthorFormGroup.stories.tsx
  tests/component/sections/create-dataset/AuthorFormGroup.spec.tsx
  tests/component/sections/create-dataset/CreateDatasetForm.spec.tsx
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Form

#360 Feature/294 clear test datasets
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/e2e/sections/file/File.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/e2e-integration/shared/datasets/DatasetHelper.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#369 Dynamically render form field in Create Dataset Form + Fields Validations
  .eslintrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/components/accordion/Accordion.tsx
  packages/design-system/src/lib/components/accordion/AccordionBody.tsx
  packages/design-system/src/lib/components/accordion/AccordionHeader.tsx
  packages/design-system/src/lib/components/accordion/AccordionItem.tsx
  packages/design-system/src/lib/components/form/form-checkbox-group/FormCheckboxGroup.module.scss
  packages/design-system/src/lib/components/form/form-checkbox-group/FormCheckboxGroup.tsx
  packages/design-system/src/lib/components/form/form-group-multiple-fields/FormGroupWithMultipleFields.tsx
  packages/design-system/src/lib/components/form/form-group/FormGroup.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormCheckbox.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormFeedback.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormInput.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormSelect.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormTextArea.tsx
  packages/design-system/tests/component/form/form-group/FormGroup.spec.tsx
  public/locales/en/createDataset.json
  src/dataset/domain/useCases/DTOs/DatasetDTO.ts
  src/dataset/domain/useCases/validateDataset.ts
  src/metadata-block-info/domain/models/MetadataBlockInfo.ts
  src/metadata-block-info/domain/models/fieldValidations.ts
  src/metadata-block-info/domain/repositories/MetadataBlockInfoRepository.ts
  src/metadata-block-info/domain/useCases/getDisplayedOnCreateMetadataBlockInfoByCollectionId.ts
  src/metadata-block-info/domain/useCases/getMetadataBlockInfoByCollectionId.ts
  src/metadata-block-info/domain/useCases/getMetadataBlockInfoByName.ts
  src/metadata-block-info/infrastructure/mappers/JSMetadataBlockInfoMapper.ts
  src/metadata-block-info/infrastructure/repositories/MetadataBlockInfoJSDataverseRepository.ts
  src/sections/create-dataset/CreateDatasetFactory.tsx
  src/sections/create-dataset/CreateDatasetForm.module.scss
  src/sections/create-dataset/CreateDatasetForm.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/Vocabulary.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/VocabularyMultiple.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/index.module.scss
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/index.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/useDefineRules.ts
  src/sections/create-dataset/MetadataBlockFormFields/index.tsx
  src/sections/create-dataset/MetadataBlocksSkeleton.tsx
  src/sections/create-dataset/MetadataFieldsHelper.ts
  src/sections/create-dataset/useCreateDatasetForm.tsx
  src/sections/create-dataset/useDatasetFormData.tsx
  src/sections/create-dataset/useDatasetValidator.tsx
  src/sections/create-dataset/useGetMetadataBlocksInfo.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataFieldValueFormatted.tsx
  src/sections/dataset/metadata-block-info/MetadataBlockInfoContext.ts
  src/sections/dataset/metadata-block-info/MetadataBlockProvider.tsx
  src/sections/shared/add-data-actions/AddDataActionsButton.tsx
  src/stories/create-dataset/AuthorFormGroup.stories.tsx
  src/stories/create-dataset/DatasetCreate.stories.tsx
  src/stories/create-dataset/MetadataBlockInfoMockErrorRepository.ts
  src/stories/create-dataset/MetadataBlockInfoMockLoadingRepository.ts
  src/stories/create-dataset/MetadataBlockInfoMockRepository.ts
  tests/component/metadata-block-info/domain/models/MetadataBlockInfoMother.ts
  tests/component/sections/create-dataset/CreateDatasetForm.spec.tsx
  tests/component/sections/create-dataset/MetadataFieldsHelper.spec.ts
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
Labels: Size: 10, D: Design System, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Form

#361 315 - Developer guide: Architecture design methodology
  DEVELOPER_GUIDE.md
  README.md
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Documentation

#372 Feature/358 add unpublished label to collections page
  src/collection/domain/models/Collection.ts
  src/collection/infrastructure/mappers/JSCollectionMapper.ts
  src/sections/collection/Collection.module.scss
  src/sections/collection/CollectionInfo.tsx
  src/stories/collection/CollectionInfo.stories.tsx
  tests/component/collection/domain/models/CollectionMother.ts
  tests/component/sections/collection/CollectionInfo.spec.tsx
  tests/e2e-integration/integration/collection/CollectionJSDataverseRepository.spec.ts
Labels: pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#375 Feature/file upload page boilerplate
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/components/dropdown-button/dropdown-button-item/DropdownButtonItem.tsx
  src/Router.tsx
  src/sections/Route.enum.ts
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/dataset/dataset-files/dataset-upload-files-button/DatasetUploadFilesButton.tsx
  src/sections/upload-dataset-files/UploadDatasetFiles.tsx
  src/sections/upload-dataset-files/UploadDatasetFilesFactory.tsx
  src/stories/upload-dataset-files/UploadDatasetFiles.stories.tsx
  tests/component/sections/upload-dataset-files/UploadDatasetFiles.spec.tsx
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: File Upload Page

#382 Update CONTRIBUTING doc with "good first issue" and "help wanted" labels
  .github/CONTRIBUTING.md
Labels: pm.GREI-d-2.7.1, pm.GREI-d-2.7.2
