Repository IQSS/dataverse-frontend, pull requests merged in 2024-07, with the labels that each got.

#418 Feature/417 integrate file upload page with use cases (early implementation)
  public/locales/en/uploadDatasetFiles.json
  src/files/domain/models/FileHolder.ts
  src/files/domain/models/FileUploadState.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/addUploadedFiles.ts
  src/files/domain/useCases/uploadFile.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/upload-dataset-files/FileUploader.module.scss
  src/sections/upload-dataset-files/FileUploader.tsx
  src/sections/upload-dataset-files/UploadDatasetFiles.tsx
  src/sections/upload-dataset-files/uploaded-files-list/UploadedFiles.tsx
  src/sections/upload-dataset-files/uploaded-files-list/add-tags-modal/AddTagsModal.module.scss
  src/sections/upload-dataset-files/uploaded-files-list/add-tags-modal/AddTagsModal.tsx
  src/sections/upload-dataset-files/uploaded-files-list/file-form/FileForm.module.scss
  src/sections/upload-dataset-files/uploaded-files-list/file-form/FileForm.tsx
  src/sections/upload-dataset-files/uploaded-files-list/files-header/FilesHeader.module.scss
  src/sections/upload-dataset-files/uploaded-files-list/files-header/FilesHeader.tsx
  src/sections/upload-dataset-files/uploaded-files-list/restriction-modal/RestrictionModal.module.scss
  src/sections/upload-dataset-files/uploaded-files-list/restriction-modal/RestrictionModal.tsx
  src/stories/file/FileMockFailedUploadRepository.ts
  src/stories/file/FileMockRepository.ts
  tests/component/sections/upload-dataset-files/UploadDatasetFiles.spec.tsx
Labels: Size: 10, integration, SPA: File Upload Page, GREI Re-arch

#433 Feature/319 new collection page
  README.md
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/components/button/Button.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormInput.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormSelect.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormTextArea.tsx
  packages/design-system/src/lib/components/form/form-group/form-input-group/FormInputGroup.tsx
  packages/design-system/src/lib/components/navbar/navbar-dropdown/NavbarDropdownItem.tsx
  packages/design-system/src/lib/components/stack/Stack.tsx
  packages/design-system/src/lib/index.ts
  packages/design-system/src/lib/stories/button/Button.stories.tsx
  packages/design-system/src/lib/stories/stack/Stack.stories.tsx
  packages/design-system/tests/component/stack/Stack.spec.tsx
  public/locales/en/collection.json
  public/locales/en/createCollection.json
  public/locales/en/shared.json
  src/Router.tsx
  src/assets/variables.scss
  src/collection/domain/repositories/CollectionRepository.ts
  src/collection/domain/useCases/DTOs/CollectionDTO.ts
  src/collection/domain/useCases/createCollection.ts
  src/collection/infrastructure/repositories/CollectionJSDataverseRepository.ts
  src/sections/Route.enum.ts
  src/sections/collection/Collection.tsx
  src/sections/collection/CollectionFactory.tsx
  src/sections/collection/datasets-list/NoDatasetsMessage.tsx
  src/sections/create-collection/CreateCollection.tsx
  src/sections/create-collection/CreateCollectionFactory.tsx
  src/sections/create-collection/CreateCollectionSkeleton.tsx
  src/sections/create-collection/collection-form/CollectionForm.module.scss
  src/sections/create-collection/collection-form/CollectionForm.tsx
  src/sections/create-collection/collection-form/browse-search-facets-section/BrowseSearchFacetsSection.tsx
  src/sections/create-collection/collection-form/metadata-fields-section/MetadataFieldsSection.tsx
  src/sections/create-collection/collection-form/top-fields-section/ContactsField.tsx
  src/sections/create-collection/collection-form/top-fields-section/IdentifierField.tsx
  src/sections/create-collection/collection-form/top-fields-section/TopFieldsSection.tsx
  src/sections/create-collection/collection-form/useSubmitCollection.ts
  src/sections/layout/header/Header.tsx
  src/sections/shared/add-data-actions/AddDataActionsButton.tsx
  src/sections/shared/form/RequiredFieldText/RequiredFieldText.tsx
  src/shared/helpers/JSDataverseWriteErrorHandler.ts
  src/shared/helpers/Validator.ts
  src/shared/hooks/useScrollTop.ts
  src/stories/collection/Collection.stories.tsx
  src/stories/collection/CollectionLoadingMockRepository.ts
  src/stories/collection/CollectionMockRepository.ts
  src/stories/create-collection/CreateCollection.stories.tsx
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/datasets-list/DatasetsList.spec.tsx
  tests/component/sections/collection/datasets-list/DatasetsListWithInfiniteScroll.spec.tsx
  tests/component/sections/collection/datasets-list/NoDatasetsMessage.spec.tsx
  tests/component/sections/create-collection/CollectionForm.spec.tsx
  tests/component/sections/create-collection/CreateCollection.spec.tsx
  tests/e2e-integration/e2e/sections/create-collection/CreateCollection.spec.tsx
Labels: Size: 3, UI, integration, GREI Re-arch, SPA: New Collection Page

#430 Fix/429 dataset files scroll selection
  src/sections/dataset/dataset-files/DatasetFilesScrollable.module.scss
  src/sections/dataset/dataset-files/files-table/FilesTableColumnsDefinition.tsx
  src/sections/dataset/dataset-files/files-table/FilesTableScrollable.tsx
  src/sections/dataset/dataset-files/files-table/row-selection/useFileSelectionScrollable.ts
  src/sections/dataset/dataset-files/files-table/useFilesTableScrollable.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
Labels: bug, Size: 3, SPA: Dataset page (View), GREI Re-arch

#439 Fix README.md typo
  README.md
Labels: bug, SPA: Documentation, SPA
