Repository IQSS/dataverse-frontend, pull requests merged in 2024-08, with the labels that each got.

#424 Feature/420 Select Advanced (single and multiple selection with search)
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/components/form/form-group/FormGroup.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormSelectAdvanced.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormSelectMultiple.tsx
  packages/design-system/src/lib/components/select-advanced/SelectAdvanced.module.scss
  packages/design-system/src/lib/components/select-advanced/SelectAdvanced.tsx
  packages/design-system/src/lib/components/select-advanced/SelectAdvancedMenu.tsx
  packages/design-system/src/lib/components/select-advanced/SelectAdvancedToggle.tsx
  packages/design-system/src/lib/components/select-advanced/selectAdvancedReducer.ts
  packages/design-system/src/lib/components/select-advanced/useIsFirstRender.ts
  packages/design-system/src/lib/components/select-advanced/utils.ts
  packages/design-system/src/lib/components/select-multiple/SelectMultiple.tsx
  packages/design-system/src/lib/components/select-multiple/SelectMultipleMenu.tsx
  packages/design-system/src/lib/components/select-multiple/SelectMultipleToggle.tsx
  packages/design-system/src/lib/components/select-multiple/selectMultipleReducer.ts
  packages/design-system/src/lib/index.ts
  packages/design-system/src/lib/stories/form/Form.stories.tsx
  packages/design-system/src/lib/stories/select-advanced/SelectAdvanced.stories.tsx
  packages/design-system/src/lib/stories/select-multiple/SelectMultiple.stories.tsx
  packages/design-system/tests/component/form/form-group/FormGroupSelectAdvanced.spec.tsx
  packages/design-system/tests/component/select-advanced/SelectAdvanced.spec.tsx
  packages/design-system/tests/component/select-advanced/selectAdvancedReducer.spec.tsx
  packages/design-system/tests/component/select-advanced/utils.spec.ts
  packages/design-system/tests/component/select-multiple/SelectMultiple.spec.tsx
  packages/design-system/tests/component/select-multiple/selectMultipleReducer.spec.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/MetadataBlockFormFields/MetadataFormField/Fields/Vocabulary.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/MetadataBlockFormFields/MetadataFormField/Fields/VocabularyMultiple.tsx
  tests/component/sections/shared/dataset-metadata-form/DatasetMetadataForm.spec.tsx
Labels: Size: 3, D: Design System, SPA: Create Dataset Form, SPA: Edit Dataset Page, GREI Re-arch

#443 Fix/432 Dataset view metadata missing fields
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-metadata/DatasetMetadata.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-block/DatasetMetadataBlock.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-block/DatasetMetadataBlockSkeleton.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataField.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataFieldValue.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataFieldValueFormatted.tsx
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataFields.tsx
  src/sections/dataset/dataset-summary/DatasetSummary.tsx
  src/sections/dataset/dataset-summary/SummaryBlock.tsx
  src/sections/dataset/dataset-summary/SummaryFields.tsx
  src/sections/dataset/markdown/MarkdownComponent.tsx
  src/sections/dataset/metadata-block-info/MetadataBlockInfoContext.ts
  src/sections/dataset/metadata-block-info/MetadataBlockProvider.tsx
  src/sections/dataset/useGetMetadataBlockDisplayFormatInfo.ts
  src/stories/dataset/Dataset.stories.tsx
  src/stories/dataset/WithCitationMetadataBlockInfo.tsx
  src/stories/dataset/dataset-metadata/DatasetMetadata.stories.tsx
  src/stories/dataset/dataset-summary/DatasetSummary.stories.tsx
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/component/sections/dataset/dataset-metadata/DatasetMetadata.spec.tsx
  tests/component/sections/dataset/dataset-summary/DatasetSummary.spec.tsx
  tests/component/sections/dataset/dataset-summary/SummaryFields.spec.tsx
  tests/component/sections/dataset/useGetMetadataBlockDisplayFormatInfo.spec.ts
Labels: bug, Size: 3, SPA: Dataset page (View), GREI Re-arch, FY25 Sprint 2

#442 321 default dataset version
  src/dataset/domain/models/Dataset.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/collection/datasets-list/dataset-card/DatasetCardHeader.tsx
  src/sections/shared/form/DatasetMetadataForm/useSubmitDataset.ts
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: SPA: Dataset page (View), GREI Re-arch, FY25 Sprint 2

#458 TransferList component
  package-lock.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/lib/assets/styles/design-tokens/colors.module.scss
  packages/design-system/src/lib/components/transfer-list/ItemsList.tsx
  packages/design-system/src/lib/components/transfer-list/ListItem.tsx
  packages/design-system/src/lib/components/transfer-list/TransferList.module.scss
  packages/design-system/src/lib/components/transfer-list/TransferList.tsx
  packages/design-system/src/lib/index.ts
  packages/design-system/src/lib/stories/transfer-list/TransferList.stories.tsx
  packages/design-system/tests/component/transfer-list/TransferList.spec.tsx
Labels: Size: 3, D: Design System, GREI Re-arch, SPA: New Collection Page, FY25 Sprint 3

#450 Feature/446 file card
  packages/design-system/src/lib/assets/styles/design-tokens/colors.module.scss
  src/files/domain/models/FilePreview.ts
  src/sections/collection/datasets-list/file-card/FileCard.module.scss
  src/sections/collection/datasets-list/file-card/FileCard.tsx
  src/sections/collection/datasets-list/file-card/FileCardHeader.tsx
  src/sections/collection/datasets-list/file-card/FileCardHelper.ts
  src/sections/collection/datasets-list/file-card/FileCardIcon.tsx
  src/sections/collection/datasets-list/file-card/FileCardInfo.tsx
  src/sections/collection/datasets-list/file-card/FileCardThumbnail.tsx
  src/stories/collection/datasets-list/FileCard.stories.tsx
  tests/component/files/domain/models/FileMetadataMother.ts
  tests/component/files/domain/models/FilePreviewMother.ts
  tests/component/sections/collection/datasets-list/file-card/FileCard.spec.tsx
  tests/component/sections/create-dataset/CreateDataset.spec.tsx
  tests/component/shared/FakerHelper.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch

#453 437 - Collection page url
  src/sections/Route.enum.ts
  src/sections/collection/CollectionFactory.tsx
  src/sections/collection/datasets-list/dataset-card/DatasetCardHeader.tsx
  src/sections/collection/datasets-list/dataset-card/DatasetCardThumbnail.tsx
  src/sections/create-collection/collection-form/top-fields-section/IdentifierField.tsx
  src/sections/create-collection/collection-form/useSubmitCollection.ts
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileTitle.tsx
  src/sections/shared/hierarchy/BreadcrumbsGenerator.tsx
  src/sections/shared/link-to-page/LinkToPage.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/shared/hierarchy/BreadcrumbsGenerator.spec.tsx
  tests/component/sections/shared/link-to-page/LinkToPage.spec.tsx
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
  tests/e2e-integration/e2e/sections/create-collection/CreateCollection.spec.tsx
Labels: Size: 3, SPA: Collection Page, GREI Re-arch, FY25 Sprint 3

#457 Configure s3 in the containerized environment for file upload e2e tests
  .github/workflows/test.yml
  dev-env/.env
  dev-env/.env.example
  dev-env/.gitignore
  dev-env/docker-compose-dev.yml
  src/sections/collection/datasets-list/file-card/FileCardHeader.tsx
  src/sections/collection/datasets-list/file-card/FileCardInfo.tsx
  src/sections/collection/datasets-list/file-card/FileCardThumbnail.tsx
Labels: Size: 3, SPA

#452 448: fix link in files table
  src/dataset/domain/models/Dataset.ts
  src/files/domain/models/FilePreview.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/FileInfoCell.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileTitle.tsx
  tests/component/files/domain/models/FilePreviewMother.ts
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileTitle.spec.tsx
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch, FY25 Sprint 3

#459 feat: CollectionCard for Collection Page
  src/collection/domain/models/CollectionPreview.ts
  src/sections/collection/datasets-list/collection-card/CollectionCard.module.scss
  src/sections/collection/datasets-list/collection-card/CollectionCard.tsx
  src/sections/collection/datasets-list/collection-card/CollectionCardHeader.tsx
  src/sections/collection/datasets-list/collection-card/CollectionCardHelper.ts
  src/sections/collection/datasets-list/collection-card/CollectionCardInfo.tsx
  src/sections/collection/datasets-list/collection-card/CollectionCardThumbnail.tsx
  src/sections/collection/datasets-list/file-card/FileCardInfo.tsx
  src/stories/collection/datasets-list/CollectionCard.stories.tsx
  src/stories/collection/datasets-list/FileCard.stories.tsx
  tests/component/collection/domain/models/CollectionPreviewMother.ts
  tests/component/sections/collection/datasets-list/collection-card/CollectionCard.spec.tsx
Labels: Size: 3, SPA: Collection Page, GREI Re-arch
