Repository IQSS/dataverse-frontend, pull requests merged in 2024-02, with the labels that each got.

#281 263 - Add file metadata section to the File page
  packages/design-system/src/lib/assets/styles/bootstrap-customized.scss
  public/locales/en/file.json
  src/App.tsx
  src/config.ts
  src/files/domain/models/File.ts
  src/files/domain/models/FilePreview.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/FileInfoCell.module.scss
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/FileInfoCell.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/file-thumbnail/FilePreviewImage.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.module.scss
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.tsx
  src/sections/file/File.module.scss
  src/sections/file/File.tsx
  src/sections/file/FileSkeleton.tsx
  src/sections/file/file-embargo/FileEmbargoDate.tsx
  src/sections/file/file-labels/FileLabels.module.scss
  src/sections/file/file-labels/FileLabels.tsx
  src/sections/file/file-metadata/FileMetadata.module.scss
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/file/file-preview/FileIcon.module.scss
  src/sections/file/file-preview/FileIcon.tsx
  src/sections/file/file-preview/FileImage.tsx
  src/sections/file/file-preview/FilePreview.tsx
  src/sections/file/file-preview/FileTypeToFileIconMap.ts
  src/sections/layout/header/Header.tsx
  src/shared/domain/helpers/DateHelper.ts
  src/stories/file/file-metadata/FileMetadata.stories.tsx
  tests/component/files/domain/models/FileMother.ts
  tests/component/files/domain/models/FilePreviewMother.ts
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.spec.tsx
  tests/component/sections/file/File.spec.tsx
  tests/component/sections/file/file-embargo/FileEmbargoDate.spec.tsx
  tests/component/sections/file/file-labels/FileLabels.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/component/sections/file/file-preview/FilePreview.spec.tsx
  tests/e2e-integration/shared/TestsUtils.ts
  tests/support/e2e.ts
Labels: Size: 10, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, UI

#290 272 move filepreview permissions
  README.md
  package-lock.json
  package.json
  src/files/domain/models/File.ts
  src/files/domain/models/FilePermissions.ts
  src/files/domain/models/FilePreview.ts
  src/files/domain/models/FileUserPermissions.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/checkFileDownloadPermission.ts
  src/files/domain/useCases/checkFileEditDatasetPermission.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/files/infrastructure/mappers/JSFilePermissionsMapper.ts
  src/files/infrastructure/mappers/JSFileUserPermissionsMapper.ts
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/FileActionButtons.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.tsx
  src/sections/dataset/dataset-files/useFiles.tsx
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/file/file-permissions/FilePermissionsContext.ts
  src/sections/file/file-permissions/FilePermissionsProvider.tsx
  src/sections/file/file-permissions/useFileDownloadPermission.tsx
  src/sections/session/SessionContext.ts
  src/stories/dataset/Dataset.stories.tsx
  src/stories/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.stories.tsx
  src/stories/file/FileMockRepository.ts
  src/stories/file/FileWithDeniedPermissionsRepository.ts
  src/stories/file/FileWithGrantedPermissionsRepository.ts
  src/stories/file/file-action-buttons/access-file-menu/AccessFileMenu.stories.tsx
  src/stories/file/file-metadata/FileMetadata.stories.tsx
  src/stories/file/file-permission/WithFilePermissionsDenied.tsx
  src/stories/file/file-permission/WithFilePermissionsGranted.tsx
  tests/component/files/domain/models/FileMother.ts
  tests/component/files/domain/models/FilePermissionsMother.ts
  tests/component/files/domain/models/FilePreviewMother.ts
  tests/component/files/domain/models/FileUserPermissionsMother.ts
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/file-thumbnail/FileThumbnail.spec.tsx
  tests/component/sections/dataset/dataset-files/useFiles.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/component/sections/file/file-permissions/useFileDownloadPermission.spec.tsx
  tests/component/sections/file/file-permissions/useFilePermissions.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/support/e2e.ts
Labels: Size: 10, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: File Page

#296 283 - Display real file metadata in the File Page
  package-lock.json
  package.json
  src/Router.tsx
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/files/domain/models/File.ts
  src/files/domain/models/FilePreview.ts
  src/files/domain/models/FileVersion.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/getFileById.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/files/infrastructure/mappers/JSFileMetadataMapper.ts
  src/files/infrastructure/mappers/JSFileVersionMapper.ts
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/FileActionButtons.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/FileInfoCell.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileDownloads.tsx
  src/sections/file/File.tsx
  src/sections/file/FileFactory.tsx
  src/sections/file/file-embargo/FileEmbargoDate.tsx
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/file/useFile.tsx
  src/stories/file/file-metadata/FileMetadata.stories.tsx
  tests/component/files/domain/models/FileMother.ts
  tests/component/files/domain/models/FilePreviewMother.ts
  tests/component/files/domain/models/FileVersionMother.ts
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileDownloads.spec.tsx
  tests/component/sections/file/file-embargo/FileEmbargoDate.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/e2e-integration/e2e/sections/file/File.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/e2e-integration/shared/datasets/DatasetHelper.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, integration, SPA: File Page

#297 265 - Add breadcrumbs
  .storybook/main.ts
  README.md
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/models/DatasetPaginationInfo.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/files/domain/models/File.ts
  src/files/domain/models/FilePaginationInfo.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/Route.enum.ts
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetSkeleton.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileDate.tsx
  src/sections/file/File.tsx
  src/sections/file/FileSkeleton.tsx
  src/sections/file/file-embargo/FileEmbargoDate.tsx
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/home/Home.tsx
  src/sections/home/datasets-list/dataset-card/DatasetCardInfo.tsx
  src/sections/shared/hierarchy/BreadcrumbsGenerator.tsx
  src/sections/shared/pagination/PaginationControls.tsx
  src/sections/shared/pagination/PaginationResultsInfo.tsx
  src/shared/helpers/DateHelper.ts
  src/shared/hierarchy/domain/models/UpwardHierarchyNode.ts
  src/shared/pagination/domain/models/PaginationInfo.ts
  src/stories/shared/pagination/PaginationControls.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/files/domain/models/FileMother.ts
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileDate.spec.tsx
  tests/component/sections/file/File.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/component/sections/home/datasets-list/dataset-card/DatasetCard.spec.tsx
  tests/component/sections/home/datasets-list/dataset-card/DatasetCardInfo.spec.tsx
  tests/component/sections/shared/hierarchy/BreadcrumbsGenerator.spec.tsx
  tests/component/sections/shared/pagination/PaginationControls.spec.tsx
  tests/component/sections/shared/pagination/PaginationResultsInfo.spec.tsx
  tests/component/shared/hierarchy/domain/models/UpwardHierarchyNodeMother.ts
  tests/e2e-integration/e2e/sections/home/Home.spec.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, UI

#317 312 - Integration file citation
  package-lock.json
  package.json
  src/files/infrastructure/FileJSDataverseRepository.ts
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, integration, SPA: File Page

#320 Feature/303 add data button
  packages/design-system/src/lib/assets/styles/bootstrap-customized.scss
  packages/design-system/src/lib/assets/styles/index.scss
  packages/design-system/src/lib/components/navbar/navbar-dropdown/NavbarDropdownItem.tsx
  public/locales/en/header.json
  src/sections/home/Home.module.scss
  src/sections/home/Home.tsx
  src/sections/layout/Layout.tsx
  src/sections/layout/header/Header.tsx
  src/sections/shared/add-data-actions/AddDataActionsButton.module.scss
  src/sections/shared/add-data-actions/AddDataActionsButton.tsx
  src/stories/home/Home.stories.tsx
  src/stories/shared/add-data-actions/AddDataActionsButton.stories.tsx
  tests/component/sections/home/Home.spec.tsx
  tests/component/sections/layout/header/Header.spec.tsx
  tests/component/sections/shared/add-data-actions/AddDataActionsButton.spec.tsx
  tests/e2e-integration/e2e/sections/home/Home.spec.ts
Labels: Size: 33, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, UI

#328 295 - Display real dataset version information in the File Page
  .github/workflows/test.yml
  package-lock.json
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/file/file-metadata/FileMetadata.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/e2e-integration/e2e/sections/file/File.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, integration, SPA: File Page
