Repository IQSS/dataverse-frontend, pull requests merged in 2024-06, with the labels that each got.

#409 Fix - Collection page datasets not being refetched after navigating from a sub collection.
  src/sections/collection/Collection.tsx
  src/stories/create-dataset/CreateDataset.stories.tsx
Labels: bug, Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Collection Page

#402 Fix/393 Match api email validation
  src/metadata-block-info/domain/models/fieldValidations.ts
  src/sections/create-dataset/CreateDataset.tsx
  src/sections/create-dataset/DatasetForm.module.scss
  src/sections/create-dataset/DatasetForm.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/PrimitiveMultiple.tsx
  src/sections/create-dataset/MetadataBlockFormFields/index.tsx
  src/sections/create-dataset/useCreateDatasetForm.tsx
  tests/component/metadata-block-info/domain/models/MetadataBlockInfoMother.ts
  tests/component/sections/create-dataset/CreateDataset.spec.tsx
Labels: bug, Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Form

#414 407 create dataset prefill
  src/sections/create-dataset/DatasetForm.tsx
  src/sections/create-dataset/MetadataBlockFormFields/MetadataFormField/Fields/Primitive.tsx
  src/sections/layout/header/Header.tsx
  src/stories/create-dataset/CreateDataset.stories.tsx
  src/users/domain/models/User.ts
  src/users/infrastructure/repositories/UserJSDataverseRepository.ts
  tests/component/sections/create-dataset/CreateDataset.spec.tsx
  tests/component/sections/layout/header/Header.spec.tsx
  tests/component/sections/session/useSession.spec.tsx
  tests/component/users/domain/models/UserMother.ts
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
  tests/e2e-integration/integration/users/infrastructure/repositories/UserJSDataverseRepository.spec.ts
Labels: Size: 3, SPA: Create Dataset Form, GREI Re-arch

#415 405 Infinite Scrolling on Dataset Files
  .eslintrc.json
  package-lock.json
  package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/components/dropdown-button/DropdownButton.tsx
  public/locales/en/files.json
  public/locales/en/pagination.json
  src/files/domain/models/FilesWithCount.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/getFilesByDatasetPersistentIdWithCount.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/config.ts
  src/sections/dataset/dataset-files/DatasetFilesScrollable.module.scss
  src/sections/dataset/dataset-files/DatasetFilesScrollable.tsx
  src/sections/dataset/dataset-files/file-criteria-form/FileCriteriaFilters.tsx
  src/sections/dataset/dataset-files/file-criteria-form/FileCriteriaForm.module.scss
  src/sections/dataset/dataset-files/file-criteria-form/FileCriteriaForm.tsx
  src/sections/dataset/dataset-files/files-table/FilesTable.module.scss
  src/sections/dataset/dataset-files/files-table/FilesTable.tsx
  src/sections/dataset/dataset-files/files-table/FilesTableBody.tsx
  src/sections/dataset/dataset-files/files-table/FilesTableColumnsDefinition.tsx
  src/sections/dataset/dataset-files/files-table/FilesTableHeader.tsx
  src/sections/dataset/dataset-files/files-table/FilesTableScrollable.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/FileActionsHeader.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/download-files/DownloadFilesButton.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesMenu.tsx
  src/sections/dataset/dataset-files/files-table/file-info/FileInfoHeader.tsx
  src/sections/dataset/dataset-files/files-table/row-selection/useFileSelectionScrollable.ts
  src/sections/dataset/dataset-files/files-table/useFilesTableScrollable.tsx
  src/sections/dataset/dataset-files/files-table/zip-download-limit-message/ZipDownloadLimitMessage.tsx
  src/sections/dataset/dataset-files/useGetAccumulatedFiles.tsx
  src/sections/dataset/dataset-files/useGetFilesCountInfo.ts
  src/sections/dataset/dataset-files/useGetFilesTotalDownloadSize.ts
  src/sections/shared/pagination/PaginationResultsInfo.tsx
  src/shared/helpers/Utils.ts
  src/shared/hooks/useMediaQuery.ts
  src/shared/hooks/useObserveElementSize.ts
  src/stories/dataset/Dataset.stories.tsx
  src/stories/dataset/dataset-files/DatasetFilesScrollable.stories.tsx
  src/stories/file/FileMockLoadingRepository.ts
  src/stories/file/FileMockNoDataRepository.ts
  src/stories/file/FileMockNoFiltersRepository.ts
  src/stories/file/FileMockRepository.ts
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/datasets-list/DatasetsListWithInfiniteScroll.spec.tsx
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/FileActionsHeader.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/download-files/DownloadFilesButton.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesMenu.spec.tsx
  tests/component/sections/shared/pagination/PaginationResultsInfo.spec.tsx
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/metadata-block-info/MetadataBlockInfoCitationExample.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Dataset page (View)
