Repository IQSS/dataverse-frontend, pull requests merged in 2024-09, with the labels that each got.

#464 Feature/417 File upload integration
  cypress.config.ts
  package-lock.json
  package.json
  src/files/domain/models/FileUploadState.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/addUploadedFiles.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/UploadedFileDTOMapper.ts
  src/sections/upload-dataset-files/FileUploader.tsx
  src/sections/upload-dataset-files/UploadDatasetFiles.tsx
  src/sections/upload-dataset-files/uploaded-files-list/UploadedFiles.tsx
  src/stories/file/FileMockRepository.ts
  tests/component/sections/upload-dataset-files/UploadDatasetFiles.spec.tsx
  tests/e2e-integration/integration/files/FileUpload.spec.ts
  tests/e2e-integration/shared/files/FileHelper.ts
Labels: Size: 10, integration, SPA: File Upload Page, GREI Re-arch, FY25 Sprint 4, FY25 Sprint 5

#473 428 Show New Version Numbers in Publish Dataset Modal
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/dataset-action-buttons/publish-dataset-menu/PublishDatasetMenu.tsx
  src/sections/dataset/dataset-summary/License.tsx
  src/sections/dataset/publish-dataset/PublishDatasetHelpText.module.scss
  src/sections/dataset/publish-dataset/PublishDatasetModal.tsx
  src/stories/dataset/publish-dataset/PublishDatasetModal.stories.tsx
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/dataset/dataset-publish/PublishDatasetModal.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch

#486 Add Breadcrumb to Create Dataset Page
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/sections/create-dataset/CreateDataset.tsx
  src/sections/create-dataset/CreateDatasetSkeleton.tsx
  tests/component/sections/create-dataset/CreateDataset.spec.tsx
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
Labels: good first issue, Size: 3, UI, SPA: Create Dataset Form, GREI Re-arch, FY25 Sprint 5, FY25 Sprint 6

#477 New homepage routing + search input
  dev-env/docker-compose-dev.yml
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/assets/styles/design-tokens/colors.module.scss
  packages/design-system/src/lib/components/breadcrumb/Breadcrumb.tsx
  packages/design-system/src/lib/components/close-button/CloseButton.tsx
  packages/design-system/src/lib/components/form/form-group/form-element/FormInput.tsx
  packages/design-system/src/lib/components/navbar/Navbar.tsx
  packages/design-system/src/lib/index.ts
  packages/design-system/src/lib/stories/close-button/CloseButton.stories.tsx
  packages/design-system/tests/component/close-button/CloseButton.spec.tsx
  src/Router.tsx
  src/assets/variables.scss
  src/sections/Route.enum.ts
  src/sections/create-collection/collection-form/metadata-fields-section/metadata-input-level-fields-block/MetadataInputLevelFieldsBlock.tsx
  src/sections/homepage/Homepage.module.scss
  src/sections/homepage/Homepage.tsx
  src/sections/homepage/HomepageFactory.tsx
  src/sections/homepage/search-input/SearchInput.module.scss
  src/sections/homepage/search-input/SearchInput.tsx
  src/sections/layout/Layout.module.scss
  src/sections/layout/footer/Footer.module.scss
  src/sections/layout/header/Header.module.scss
  src/sections/layout/header/Header.tsx
  src/sections/shared/hierarchy/BreadcrumbsGenerator.module.scss
  src/sections/shared/hierarchy/BreadcrumbsGenerator.tsx
  src/stories/homepage/Homepage.stories.tsx
  tests/component/sections/homepage/SearchInput.spec.tsx
  tests/component/sections/shared/hierarchy/BreadcrumbsGenerator.spec.tsx
  tests/e2e-integration/e2e/sections/collection/Collection.spec.ts
Labels: Size: 3, UI, GREI Re-arch, SPA: Home Page, FY25 Sprint 5, FY25 Sprint 6

#491 Update README with demo link
  README.md
Labels: GREI Re-arch

#493 485 create dataset url
  DEVELOPER_GUIDE.md
  src/sections/Route.enum.ts
  src/sections/create-dataset/CreateDatasetFactory.tsx
  src/sections/layout/header/LoggedInHeaderActions.tsx
  src/sections/shared/add-data-actions/AddDataActionsButton.tsx
  tests/component/sections/shared/add-data-actions/AddDataActionsButton.spec.tsx
  tests/e2e-integration/e2e/sections/create-dataset/CreateDatasetForm.spec.tsx
Labels: Size: 3, SPA: Create Dataset Form, GREI Re-arch, FY25 Sprint 6

#483 Private Routes Guard
  packages/design-system/CHANGELOG.md
  packages/design-system/src/lib/assets/styles/bootstrap-customized.scss
  packages/design-system/src/lib/components/spinner/Spinner.tsx
  packages/design-system/src/lib/index.ts
  packages/design-system/src/lib/stories/spinner/Spinner.stories.tsx
  packages/design-system/tests/component/spinner/Spinner.spec.tsx
  src/App.tsx
  src/Router.tsx
  src/router/ProtectedRoute.tsx
  src/router/index.tsx
  src/router/routes.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/sections/edit-dataset-metadata/EditDatasetMetadataFactory.tsx
  src/sections/file/FileFactory.tsx
  src/sections/session/SessionContext.ts
  src/sections/session/SessionProvider.tsx
  src/sections/shared/add-data-actions/AddDataActionsButton.tsx
  src/sections/shared/layout/app-loader/AppLoader.module.scss
  src/sections/shared/layout/app-loader/AppLoader.tsx
  src/sections/upload-dataset-files/UploadDatasetFilesFactory.tsx
  src/stories/WithLoggedInSuperUser.tsx
  src/stories/WithLoggedInUser.tsx
  tests/e2e-integration/e2e/sections/create-collection/CreateCollection.spec.tsx
  tests/e2e-integration/e2e/sections/create-dataset/CreateDataset.spec.tsx
  tests/e2e-integration/e2e/sections/edit-dataset-metadata/EditDatasetMetadata.spec.tsx
  tests/support/e2e.ts
Labels: Size: 3, GREI Re-arch, SPA: Permissions, FY25 Sprint 5, SPA.Q3

#497 Remove the hardcoded value of isReleased field
  package-lock.json
  package.json
  src/collection/infrastructure/mappers/JSCollectionMapper.ts
  tests/e2e-integration/integration/collection/CollectionJSDataverseRepository.spec.ts
Labels: Size: 3, GREI Re-arch, SPA, FY25 Sprint 6, SPA.Q3

#502 Fix/501 update e2e test
  tests/e2e-integration/integration/metadata-block-info/MetadataBlockInfoCitationExample.ts
  tests/e2e-integration/integration/metadata-block-info/MetadataBlockInfoJSDataverseRepository.spec.ts
Labels: Size: 3, D: API connectivity, GREI Re-arch, SPA.Q3, FY25 Sprint 7, Original size: 3
