Repository IQSS/dataverse-frontend, pull requests merged in 2025-08, with the labels that each got.

#795 Dataset Citation Download in different format
  package-lock.json
  package.json
  packages/design-system/src/lib/components/dropdown-button/DropdownButton.tsx
  public/locales/en/shared.json
  src/dataset/domain/models/DatasetCitation.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasetCitationInOtherFormats.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/dataset-citation/DatasetCitation.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/copy-to-clipboard-button/CopyToClipboardButton.tsx
  src/sections/file/File.tsx
  src/sections/shared/citation/Citation.module.scss
  src/sections/shared/citation/citation-download/CitationDownloadButton.tsx
  src/sections/shared/citation/citation-download/ViewStyledCitationModal.tsx
  src/sections/shared/citation/citation-download/useDownloadCitation.tsx
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/dataset-citation/DatasetCitation.stories.tsx
  tests/component/sections/collection/useGetCollectionFeaturedItems.spec.tsx
  tests/component/sections/dataset/dataset-citation/DatasetCitation.spec.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.spec.tsx
  tests/component/sections/file/File.spec.tsx
  tests/component/sections/shared/citation/CitationDownloadButton.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/fixtures/images/dog-640x480.jpg
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
  tests/e2e-integration/shared/files/FileHelper.ts
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, FY26 Sprint 3, SPA.Q3.2025.15, FY26 Sprint 4

#811 Fix - "You can only drop one file to replace" warning on upload mode
  src/sections/shared/file-uploader/file-upload-input/FileUploadInput.tsx
Labels: bug, SPA: File Upload Page, GREI Re-arch, Size: 0.5, Original size: 0.5

#813 Fix Incorrect Filter Query for facet values that contain ":"
  package-lock.json
  package.json
  src/sections/collection/CollectionHelper.ts
  src/sections/collection/collection-items-panel/CollectionItemsPanel.tsx
  src/sections/collection/collection-items-panel/filter-panel/facets-filters/FacetsFilters.tsx
  src/sections/collection/collection-items-panel/selected-facets/SelectedFacets.tsx
  tests/component/collection/domain/models/CollectionItemsMother.ts
  tests/component/sections/collection/CollectionHelper.spec.tsx
  tests/component/sections/collection/collection-items-panel/SelectedFacets.spec.tsx
Labels: bug, SPA: Collection Page, GREI Re-arch, SPA.Q3.2025, Size: 0.5, Original size: 0.5
