Repository IQSS/dataverse-frontend, pull requests merged in 2025-05, with the labels that each got.

#669 Dataset Deaccession Modal should filter out versions that were deaccessioned
  src/dataset/domain/models/DatasetVersionSummaryInfo.ts
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeaccessionDatasetButton.tsx
  src/sections/dataset/deaccession-dataset/ConfirmationModal.tsx
  src/sections/dataset/deaccession-dataset/DeaccessionDatasetModal.tsx
  src/stories/dataset/deaccession-dataset/ConfirmationModal.stories.tsx
  src/stories/dataset/deaccession-dataset/DeaccessionDatasetModal.stories.tsx
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeaccessionDatasetButton.spec.tsx
Labels: bug, Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 22

#671 Dataset Page: update Tab skeleton
  src/sections/dataset/DatasetSkeleton.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetPermissionsMenu.tsx
  src/sections/dataset/dataset-action-buttons/submit-for-review-button/SubmitForReviewButton.tsx
Labels: bug, Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 22

#677 Integrate get application terms of use in account linking
  package-lock.json
  package.json
  public/locales/en/signUp.json
  src/info/infrastructure/repositories/DataverseInfoJSDataverseRepository.ts
  src/sections/sign-up/SignUp.tsx
  src/sections/sign-up/SignUpFactory.tsx
  src/sections/sign-up/valid-token-not-linked-account-form/FormFields.module.scss
  src/sections/sign-up/valid-token-not-linked-account-form/FormFields.tsx
  src/sections/sign-up/valid-token-not-linked-account-form/ValidTokenNotLinkedAccountForm.tsx
  src/sections/sign-up/valid-token-not-linked-account-form/useSubmitUser.ts
  src/shared/core/domain/models/PublicationStatus.ts
  src/shared/hooks/useGetTermsOfUse.ts
  src/stories/shared-mock-repositories/info/DataverseInfoMockErrorRepository.ts
  src/stories/sign-up/SignUp.stories.tsx
  tests/component/info/models/TermsOfUseMother.ts
  tests/component/sections/sign-up/SignUp.spec.tsx
  tests/component/sections/sign-up/valid-token-not-linked-account-form/ValidTokenNotLinkedAccountForm.spec.tsx
  tests/component/shared/hooks/useGetTermsOfUse.spec.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, FY25 Sprint 22, SPA.Q2.7

#693 Rearrange Homepage elements on mobile to show search on top
  src/sections/homepage/Homepage.module.scss
  src/sections/homepage/Homepage.tsx
Labels: Size: 3, GREI Re-arch, SPA: Home Page, Original size: 3, SPA.Q2, FY25 Sprint 23

#680 Integrate ZipDownloadLimit and EmbargoDuration with the frontend.
  src/info/domain/repositories/DataverseInfoRepository.ts
  src/info/domain/useCases/getExternalStatusesAllowed.ts
  src/info/domain/useCases/getHasPublicStore.ts
  src/info/domain/useCases/getMaxEmbargoDurationInMonths.ts
  src/info/domain/useCases/getZipDownloadLimit.ts
  src/info/infrastructure/repositories/DataverseInfoJSDataverseRepository.ts
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetPermissionsMenu.tsx
  src/sections/dataset/dataset-action-buttons/publish-dataset-menu/ChangeCurationStatusMenu.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.tsx
  src/sections/dataset/dataset-files/files-table/zip-download-limit-message/ZipDownloadLimitMessage.tsx
  src/sections/settings/SettingsContext.ts
  src/sections/settings/SettingsProvider.tsx
  src/settings/domain/models/Setting.ts
  src/settings/domain/repositories/SettingRepository.ts
  src/settings/domain/useCases/getByName.ts
  src/settings/infrastructure/SettingJSDataverseRepository.ts
  src/stories/WithSettings.tsx
  src/stories/shared-mock-repositories/info/DataverseInfoMockErrorRepository.ts
  src/stories/shared-mock-repositories/info/DataverseInfoMockLoadingkRepository.ts
  src/stories/shared-mock-repositories/info/DataverseInfoMockRepository.ts
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetPermissionsMenu.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/publish-dataset-menu/ChangeCurationStatusMenu.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/publish-dataset-menu/PublishDatasetMenu.spec.tsx
  tests/component/sections/dataset/dataset-files/DatasetFiles.spec.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/FilesTable.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/zip-download-limit-message/ZipDownloadLimitMessage.spec.tsx
  tests/component/settings/domain/models/SettingMother.ts
Labels: Size: 3, SPA: Dataset page (View), integration, GREI Re-arch, Original size: 3, SPA.Q2.9, FY25 Sprint 23

#697 fix: privacy policy link
  src/sections/layout/footer/Footer.tsx
Labels: bug, GREI Re-arch, SPA.Q2

#696 Featured Items aspect ratio recommendations
  public/locales/en/editCollectionFeaturedItems.json
  src/sections/edit-collection-featured-items/featured-items-form/FeaturedItemsFormHelper.ts
  src/sections/edit-collection-featured-items/featured-items-form/featured-item-field/FeaturedItemField.module.scss
  src/sections/edit-collection-featured-items/featured-items-form/featured-item-field/ImageField.tsx
  src/sections/featured-item/featured-item-view/FeaturedItemView.module.scss
  tests/component/collection/domain/models/CollectionFeaturedItemMother.ts
  tests/component/sections/edit-collection-featured-items/FeaturedItemsForm.spec.tsx
  tests/component/sections/edit-collection-featured-items/FeaturedItemsFormHelper.spec.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA: Edit Featured Items Page, SPA.Q2, FY25 Sprint 23

#701 Fix: avoid showing app loader when refreshing token
  src/router/ProtectedRoute.tsx
Labels: bug, Size: 3, GREI Re-arch, Original size: 3, SPA.Q2

#699 Beta and QA on-demand deployment action
  .github/workflows/deploy.yml
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 23

#703 Enhance Rich Text Editor - insert images via external URLs
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/lib/assets/styles/rich-text-editor-content.scss
  packages/design-system/src/lib/components/rich-text-editor/CustomImageExtension.tsx
  packages/design-system/src/lib/components/rich-text-editor/EditorActions.module.scss
  packages/design-system/src/lib/components/rich-text-editor/EditorActions.tsx
  packages/design-system/src/lib/components/rich-text-editor/RichTextEditor.scss
  packages/design-system/src/lib/components/rich-text-editor/RichTextEditor.tsx
  packages/design-system/src/lib/components/rich-text-editor/defaultLocales.ts
  packages/design-system/src/lib/stories/rich-text-editor/RichTextEditor.stories.tsx
  packages/design-system/tests/component/rich-text-editor/RichTextEditor.spec.tsx
  src/sections/collection/featured-items/custom-featured-item-card/CustomFeaturedItemCard.tsx
  src/sections/edit-collection-featured-items/featured-items-form/featured-item-field/FeaturedItemField.module.scss
Labels: Size: 3, D: Design System, GREI Re-arch, Original size: 3, FY25 Sprint 23, SPA.Q2.6

#714 Keep account tabs in sync with tab query param in the URL
  dev.Dockerfile
  src/sections/account/Account.tsx
  tests/component/sections/account/Account.spec.tsx
Labels: bug, GREI Re-arch, SPA: Account Page, FY25 Sprint 24
