Repository IQSS/dataverse-frontend, pull requests merged in 2025-04, with the labels that each got.

#631 Edit Dataset Metadata: Dataset metadata fields couldn't set to empty result
  package-lock.json
  package.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/updateDatasetMetadata.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/edit-dataset-metadata/EditDatasetMetadata.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataFieldsHelper.ts
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/index.tsx
  src/sections/shared/form/DatasetMetadataForm/index.tsx
  src/sections/shared/form/DatasetMetadataForm/useSubmitDataset.ts
  src/stories/shared/dataset-metadata-form/DatasetMetadataForm.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/shared/dataset-metadata-form/MetadataFieldsHelper.spec.ts
Labels: bug, Size: 3, SPA: Dataset page (View), SPA: Edit Dataset Page, GREI Re-arch, Original size: 3, SPA.Q1, FY25 Sprint 19, FY25 Sprint 20

#642 Docs for Keycloak Deployment
  README.md
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q1

#638 Dataset download count metrics integration
  package-lock.json
  public/locales/en/dataset.json
  src/dataset/domain/models/DatasetDownloadCount.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasetDownloadCount.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/Dataset.module.scss
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/dataset-metrics/DatasetMetrics.module.scss
  src/sections/dataset/dataset-metrics/DatasetMetrics.tsx
  src/sections/dataset/dataset-metrics/useGetDatasetDownloadCount.tsx
  src/shared/helpers/JSDataverseReadErrorHandler.ts
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/dataset-metrics/DatasetMetrics.stories.tsx
  tests/component/dataset/domain/models/DatasetDownloadCountMother.ts
  tests/component/sections/dataset/dataset-metrics/DatasetMetrics.spec.tsx
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, SPA.Q1.4, FY25 Sprint 20

#645 Homepage Metrics - get real data from Dv Hub API
  package-lock.json
  package.json
  public/locales/en/homepage.json
  src/dataverse-hub/domain/models/InstallationMetrics.ts
  src/dataverse-hub/domain/repositories/DataverseHubRepository.ts
  src/dataverse-hub/domain/useCases/getInstallationMetrics.ts
  src/dataverse-hub/infrastructure/mappers/ApiDataverseMetricsMapper.ts
  src/dataverse-hub/infrastructure/models/ApiInstallationMetrics.ts
  src/dataverse-hub/infrastructure/repositories/ApiDataverseHubRepository.ts
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/homepage/Homepage.tsx
  src/sections/homepage/HomepageFactory.tsx
  src/sections/homepage/metrics/Metrics.module.scss
  src/sections/homepage/metrics/Metrics.tsx
  src/sections/homepage/metrics/MetricsResults.module.scss
  src/sections/homepage/metrics/MetricsResults.tsx
  src/sections/homepage/metrics/useGetInstallationMetrics.ts
  src/stories/dataverse-hub/DataverseHubLoadingMockRepository.ts
  src/stories/dataverse-hub/DataverseHubMockRepository.ts
  src/stories/homepage/Homepage.stories.tsx
  src/stories/homepage/Metrics.stories.tsx
  tests/component/dataverse-hub/domain/models/InstallationMetricsMother.ts
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeaccessionDatasetButton.spec.tsx
  tests/component/sections/homepage/Homepage.spec.tsx
  tests/component/sections/homepage/Metrics.spec.tsx
Labels: Size: 3, GREI Re-arch, SPA: Home Page, Original size: 3, SPA.Q1, FY25 Sprint 20

#641 File Page: Restrict Modal update restrict access and terms
  package-lock.json
  package.json
  public/locales/en/file.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/models/DatasetVersionDiff.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/restrictFile.ts
  src/files/domain/useCases/restrictFileDTO.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/files/infrastructure/mappers/JSFileAccessMapper.ts
  src/files/infrastructure/mappers/JSFileMapper.ts
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/DatasetRestrictFileButton.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/file-options-menu/FileOptionsMenu.tsx
  src/sections/file/File.tsx
  src/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.tsx
  src/sections/file/file-action-buttons/edit-file-menu/restrict-file-button/RestrictFileButton.tsx
  src/sections/file/file-action-buttons/edit-file-menu/restrict-file-button/confirm-restrict-file-modal/ConfirmRestrictFileModal.module.scss
  src/sections/file/file-action-buttons/edit-file-menu/restrict-file-button/confirm-restrict-file-modal/ConfirmRestrictFileModal.tsx
  src/sections/file/file-action-buttons/edit-file-menu/restrict-file-button/useRestrictFile.tsx
  src/stories/file/FileMockLoadingRepository.ts
  src/stories/file/FileMockRepository.ts
  src/stories/file/file-action-buttons/edit-file-dropdown/ConfirmRestrictFileModal.stories.tsx
  src/stories/file/file-action-buttons/edit-file-dropdown/ConfirmUnrestrictFileModal.stories.tsx
  src/stories/file/file-action-buttons/edit-file-dropdown/EditFileDropdown.stories.tsx
  tests/component/dataset/domain/models/DatasetVersionDiffMother.ts
  tests/component/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.spec.tsx
  tests/component/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.spec.tsx
Labels: Size: 3, SPA: File Page, GREI Re-arch, Original size: 3, SPA.Q1.6, FY25 Sprint 20

#644 Keycloak SPI setup
  .gitignore
  dev-env/docker-compose-dev.yml
  dev-env/keycloak/Dockerfile
  dev-env/keycloak/keycloak-dv-builtin-users-authenticator-1.0-SNAPSHOT.jar
  dev-env/keycloak/quarkus.properties
  dev-env/keycloak/setup-spi.sh
  package.json
Labels: Size: 3, GREI Re-arch, Original size: 10, SPA.Q1.1, FY25 Sprint 20

#648 Send only input levels that changed
  src/sections/shared/form/EditCreateCollectionForm/CollectionFormHelper.ts
  src/sections/shared/form/EditCreateCollectionForm/collection-form/CollectionForm.tsx
  src/sections/shared/form/EditCreateCollectionForm/collection-form/useSubmitCollection.ts
  src/sections/shared/form/EditCreateCollectionForm/types.ts
  tests/component/sections/shared/edit-create-collection-form/CollectionFormHelper.spec.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q1, FY25 Sprint 20

#640 Replace file button in dataset page
  packages/design-system/src/lib/components/dropdown-button/dropdown-button-item/DropdownButtonItem.tsx
  public/locales/en/shared.json
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/Route.enum.ts
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.tsx
  src/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/file-options-menu/FileOptionsMenu.tsx
  src/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.tsx
  src/sections/replace-file/ReplaceFile.tsx
  src/sections/replace-file/ReplaceFileFactory.tsx
  src/sections/shared/file-uploader/FileUploader.tsx
  src/sections/shared/file-uploader/FileUploaderPanel.tsx
  src/sections/shared/file-uploader/file-upload-input/FileUploadInput.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.spec.tsx
  tests/component/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.spec.tsx
  tests/component/sections/replace-file/ReplaceFile.spec.tsx
  tests/component/sections/shared/file-uploader/FileUploader.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q1.6, FY25 Sprint 20, SPA.Q2

#654 Fix Dataset Page showing draft version after deaccession
  package-lock.json
  package.json
  src/dataset/domain/models/DatasetVersionDiff.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasetVersionDiff.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
Labels: SPA: Dataset page (View), GREI Re-arch, FY25 Sprint 21, SPA.Q2

#623 Dataset Page: dataset versions tab use case integration
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/models/DatasetVersionDiff.ts
  src/dataset/domain/models/DatasetVersionSummaryInfo.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasetVersionsSummaries.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/dataset-versions/DatasetVersions.module.scss
  src/sections/dataset/dataset-versions/DatasetVersions.tsx
  src/sections/dataset/dataset-versions/DatasetViewDetailButton.tsx
  src/sections/dataset/dataset-versions/useDatasetVersionSummaryDescription.tsx
  src/sections/dataset/dataset-versions/useGetDatasetVersionsSummaries.ts
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionViewDifferenceButton.module.scss
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionViewDifferenceButton.tsx
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionsDetailModal.module.scss
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionsDetailModal.tsx
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionsDifferenceTable.module.scss
  src/sections/dataset/dataset-versions/view-difference/DatasetVersionsDifferenceTable.tsx
  src/sections/dataset/dataset-versions/view-difference/useGetDatasetVersionDiff.ts
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/dataset-versions/DatasetVersions.stories.tsx
  src/stories/dataset/dataset-versions/DatasetVersionsDiffModal.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/domain/models/DatasetVersionDiffMother.ts
  tests/component/dataset/domain/models/DatasetVersionsSummariesMother.ts
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/component/sections/dataset/dataset-versions/DatasetVersions.spec.tsx
  tests/component/sections/dataset/dataset-versions/DatasetVersionsViewDifferencesModal.spec.tsx
  tests/component/sections/dataset/dataset-versions/useDatasetVersionSummaryDescription.spec.tsx
  tests/component/sections/dataset/dataset-versions/useGetDatasetVersionDiff.spec.tsx
  tests/component/sections/dataset/dataset-versions/useGetDatasetVersionsSummaries.spec.tsx
  tests/component/sections/edit-dataset-metadata/EditDatasetMetadata.spec.tsx
  tests/e2e-integration/shared/datasets/DatasetHelper.ts
Labels: Size: 10, SPA: Dataset page (View), integration, GREI Re-arch, Original size: 10, SPA.Q1.2, FY25 Sprint 19, FY25 Sprint 20, FY25 Sprint 21, SPA.Q2

#649 Edit File Metadata Page
  public/locales/en/editFileMetadata.json
  public/locales/en/shared.json
  src/dataset/domain/models/DatasetVersionDiff.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/DTOs/FileMetadataDTO.ts
  src/files/domain/useCases/editFileMetadata.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/router/routes.tsx
  src/sections/Route.enum.ts
  src/sections/dataset/dataset-files/files-table/file-actions/edit-files-menu/EditFilesOptions.tsx
  src/sections/dataset/deaccession-dataset/useDeaccessionDataset.tsx
  src/sections/edit-file-metadata/EditFileMetadata.module.scss
  src/sections/edit-file-metadata/EditFileMetadata.tsx
  src/sections/edit-file-metadata/EditFileMetadataFactory.tsx
  src/sections/edit-file-metadata/EditFileMetadataRow.module.scss
  src/sections/edit-file-metadata/EditFileMetadataRow.tsx
  src/sections/edit-file-metadata/EditFileMetadataSkeleton.tsx
  src/sections/edit-file-metadata/EditFilesList.module.scss
  src/sections/edit-file-metadata/EditFilesList.tsx
  src/sections/edit-file-metadata/useSubmitFileMetadata.ts
  src/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.tsx
  src/sections/file/file-metadata/FileMetadata.tsx
  src/sections/shared/file-uploader/uploaded-files-list/uploaded-file-row/UploadedFileRow.tsx
  src/sections/shared/form/metadata-file-row/FileDescriptionField.tsx
  src/sections/shared/form/metadata-file-row/FileNameField.tsx
  src/sections/shared/form/metadata-file-row/FilePathField.tsx
  src/stories/edit-file-metadata/EditFileMetadata.stories.tsx
  src/stories/file/FileMockRepository.ts
  tests/component/files/domain/models/FileMetadataMother.ts
  tests/component/sections/edit-file-metadata/EditFileMetadata.spec.tsx
  tests/component/sections/edit-file-metadata/EditFilesList.spec.tsx
  tests/component/sections/file/file-action-buttons/edit-file-menu/EditFileMenu.spec.tsx
  tests/e2e-integration/e2e/sections/edit-file-metadata/EditFileMetadata.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q1.6, FY25 Sprint 20, FY25 Sprint 21, SPA.Q2

#658 Dataset Metadata: update formats of fields
  src/sections/dataset/dataset-metadata/dataset-metadata-fields/DatasetMetadataFieldValueFormatted.tsx
  tests/component/sections/dataset/dataset-metadata/DatasetMetadata.spec.tsx
  tests/component/sections/dataset/dataset-metadata/DatasetMetadataFieldValueFormatted.spec.tsx
Labels: bug, Size: 3, GREI Re-arch, Original size: 3, SPA.Q1, FY25 Sprint 20, FY25 Sprint 21, SPA.Q2

#660 Dataset page: Delete Draft Dataset
  package-lock.json
  package.json
  public/locales/en/dataset.json
  src/dataset/domain/models/DatasetVersionSummaryInfo.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/deleteDatasetDraft.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/dataset-action-buttons/DatasetActionButtons.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeleteDatasetButton.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/delete-draft-dataset/ConfirmDeleteDraftDatasetModal.module.scss
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/delete-draft-dataset/ConfirmDeleteDraftDatasetModal.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/delete-draft-dataset/DeleteDraftDatasetButton.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/delete-draft-dataset/useDeleteDraftDataset.tsx
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/delete-draft-dataset/ConfirmDeleteDatasetModal.stories.tsx
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeleteDatasetButton.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/DeleteDraftDatasetButton.spec.tsx
  tests/component/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/file-actions/file-actions-cell/file-action-buttons/FileActionButtons.spec.tsx
  tests/e2e-integration/e2e/sections/dataset/Dataset.spec.tsx
Labels: Size: 3, SPA: Edit Dataset Page, GREI Re-arch, Original size: 3, FY25 Sprint 21, SPA.Q2.10, FY25 Sprint 22

#664 Dataset page: show deaccession reason and info
  package-lock.json
  package.json
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/models/DatasetVersionSummaryInfo.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/mappers/JSDatasetVersionMapper.ts
  src/sections/dataset/dataset-citation/DatasetCitation.module.scss
  src/sections/dataset/dataset-citation/DatasetCitation.tsx
  src/sections/dataset/dataset-versions/DatasetVersions.tsx
  src/sections/dataset/dataset-versions/useDatasetVersionSummaryDescription.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/dataset/dataset-citation/DatasetCitation.spec.tsx
  tests/component/sections/dataset/dataset-versions/useDatasetVersionSummaryDescription.spec.tsx
  tests/e2e-integration/integration/datasets/DatasetJSDataverseRepository.spec.ts
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, FY25 Sprint 21, SPA.Q2, FY25 Sprint 22

#662 Keycloak Theming - Login Page
  .eslintrc.json
  .github/workflows/accessibility.yml
  .gitignore
  .prettierignore
  .storybook/test-runner.ts
  dev-env/docker-compose-dev.yml
  index.html
  package-lock.json
  package.json
  packages/design-system/src/lib/components/button/Button.tsx
  src/index.app.tsx
  src/index.tsx
  src/keycloak-theme/kc.gen.tsx
  src/keycloak-theme/login/KcContext.ts
  src/keycloak-theme/login/KcPage.tsx
  src/keycloak-theme/login/Template.tsx
  src/keycloak-theme/login/i18n.ts
  src/keycloak-theme/login/main.scss
  src/keycloak-theme/login/pages/Login.module.scss
  src/keycloak-theme/login/pages/Login.tsx
  src/keycloak-theme/login/template.module.scss
  src/stories/keycloak-theme/KcPageStory.tsx
  src/stories/keycloak-theme/Login.stories.tsx
  tsconfig.json
  vite.config.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, FY25 Sprint 21, SPA.Q2.4
