Repository IQSS/dataverse-frontend, pull requests merged in 2025-06, with the labels that each got.

#713 Change alerts to toasts
  index.html
  public/apple-touch-icon.png
  public/favicon-192x192.png
  public/favicon-512x512.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/locales/en/dataset.json
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/assets/dataverse_brand_icon.svg
  src/sections/collection/Collection.tsx
  src/sections/collection/CollectionFactory.tsx
  src/sections/collection/publish-collection/PublishCollectionButton.tsx
  src/sections/collection/publish-collection/PublishCollectionModal.tsx
  src/sections/collection/useCollection.tsx
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/DatasetFactory.tsx
  src/sections/dataset/useUpdateDatasetAlerts.ts
  src/sections/shared/form/DatasetMetadataForm/useSubmitDataset.ts
  src/sections/shared/form/EditCreateCollectionForm/collection-form/useSubmitCollection.ts
  src/stories/collection/Collection.stories.tsx
  src/stories/collection/publish-collection/PublishCollectionModal.stories.tsx
  src/stories/dataset/Dataset.stories.tsx
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/collection-publish/PublishCollectionModal.spec.tsx
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/e2e-integration/e2e/sections/create-dataset/CreateDataset.spec.tsx
  tests/e2e-integration/e2e/sections/edit-dataset-metadata/EditDatasetMetadata.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 24

#729 File: restricted file(in .tab format) should be shown even it's restricted
  src/files/infrastructure/FileJSDataverseRepository.ts
Labels: bug, Size: 3, SPA: File Page, GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 24, FY25 Sprint 25

#737 Update return type of GetMyDataCollectionItems
  README.md
  package-lock.json
  package.json
  src/collection/domain/models/CollectionItemSubset.ts
  src/collection/domain/models/MyDataCollectionItemSubset.ts
  src/collection/domain/repositories/CollectionRepository.ts
  src/collection/domain/useCases/getMyDataCollectionItems.ts
  src/collection/infrastructure/repositories/CollectionJSDataverseRepository.ts
  src/sections/account/my-data-section/MyDataItemsPanel.tsx
  src/sections/account/my-data-section/my-data-filter-panel/MyDataFilterPanel.tsx
  src/sections/account/my-data-section/my-data-filter-panel/publication-status-filters/PublicationStatusFilters.tsx
  src/sections/account/my-data-section/useGetMyDataAccumulatedItems.tsx
  src/sections/collection/collection-items-panel/CollectionItemsPanel.tsx
  src/sections/collection/collection-items-panel/filter-panel/FilterPanel.tsx
  src/sections/collection/collection-items-panel/filter-panel/type-filters/TypeFilters.tsx
  src/sections/collection/collection-items-panel/useGetAccumulatedItems.tsx
  src/stories/collection/CollectionMockRepository.ts
  src/stories/collection/NoCollectionMockRepository.ts
  tests/component/collection/domain/models/CollectionItemsMother.ts
  tests/component/sections/account/Account.spec.tsx
  tests/component/sections/account/MyDataFilterPanel.spec.tsx
  tests/component/sections/account/MyDataItemsPanel.spec.tsx
  tests/component/sections/account/PublicationStatusFilters.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q2.1, FY25 Sprint 25
