Repository IQSS/dataverse-frontend, pull requests merged in 2025-01, with the labels that each got.

#566 Collection Page Facets Filters
  package-lock.json
  package.json
  public/locales/en/collection.json
  public/locales/en/shared.json
  src/collection/domain/models/CollectionItemSubset.ts
  src/collection/domain/models/CollectionItemsQueryParams.ts
  src/collection/domain/models/CollectionSearchCriteria.ts
  src/collection/infrastructure/repositories/CollectionJSDataverseRepository.ts
  src/sections/Route.enum.ts
  src/sections/collection/CollectionHelper.ts
  src/sections/collection/collection-items-panel/CollectionItemsPanel.tsx
  src/sections/collection/collection-items-panel/filter-panel/FilterPanel.tsx
  src/sections/collection/collection-items-panel/filter-panel/facets-filters/FacetFilterGroup.tsx
  src/sections/collection/collection-items-panel/filter-panel/facets-filters/FacetsFilters.module.scss
  src/sections/collection/collection-items-panel/filter-panel/facets-filters/FacetsFilters.tsx
  src/sections/collection/collection-items-panel/items-list/ItemsList.module.scss
  src/sections/collection/collection-items-panel/items-list/ItemsList.tsx
  src/sections/collection/collection-items-panel/items-list/file-card/FileCard.module.scss
  src/sections/collection/collection-items-panel/selected-facets/SelectedFacets.module.scss
  src/sections/collection/collection-items-panel/selected-facets/SelectedFacets.tsx
  src/sections/collection/collection-items-panel/useGetAccumulatedItems.tsx
  src/sections/collection/useGetCollectionQueryParams.ts
  src/sections/homepage/search-input/SearchInput.tsx
  src/stories/collection/CollectionMockRepository.ts
  src/stories/collection/NoCollectionMockRepository.ts
  src/stories/collection/collection-items-panel/CollectionItemsPanel.stories.tsx
  tests/component/collection/domain/models/CollectionItemsMother.ts
  tests/component/sections/collection/Collection.spec.tsx
  tests/component/sections/collection/CollectionHelper.spec.tsx
  tests/component/sections/collection/collection-items-panel/CollectionItemsPanel.spec.tsx
  tests/component/sections/collection/collection-items-panel/FacetsFilter.spec.tsx
  tests/component/sections/collection/collection-items-panel/FilterPanel.spec.tsx
  tests/component/sections/collection/collection-items-panel/SelectedFacets.spec.tsx
  tests/e2e-integration/e2e/sections/collection/CollectionItemsPanel.spec.ts
  tests/e2e-integration/e2e/sections/homepage/Homepage.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q4.1, FY25 Sprint 12, FY25 Sprint 14

#551 Feature/492 publish dataset with compare versions
  public/locales/en/dataset.json
  src/dataset/domain/models/Dataset.ts
  src/dataset/domain/models/DatasetVersionDiff.ts
  src/dataset/domain/repositories/DatasetRepository.ts
  src/dataset/domain/useCases/getDatasetVersionDiff.ts
  src/dataset/infrastructure/mappers/JSDatasetMapper.ts
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/sections/dataset/dataset-action-buttons/publish-dataset-menu/PublishDatasetMenu.tsx
  src/sections/dataset/publish-dataset/PublishDatasetHelpText.module.scss
  src/sections/dataset/publish-dataset/PublishDatasetHelpText.tsx
  src/sections/dataset/publish-dataset/PublishDatasetModal.module.scss
  src/sections/dataset/publish-dataset/PublishDatasetModal.tsx
  src/stories/dataset/DatasetErrorMockRepository.ts
  src/stories/dataset/DatasetMockRepository.ts
  src/stories/dataset/publish-dataset/PublishDatasetModal.stories.tsx
  tests/component/dataset/domain/models/DatasetVersionDiffMother.ts
  tests/component/dataset/infrastructure/mappers/JSDatasetMapper.spec.ts
  tests/component/sections/dataset/dataset-publish/PublishDatasetModal.spec.tsx
Labels: Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, SPA.Q4.10, FY25 Sprint 10, FY25 Sprint 11, FY25 Sprint 12, FY25 Sprint 14

#573 Feat/561 add collection sort
  public/locales/en/collection.json
  src/sections/collection/CollectionHelper.ts
  src/sections/collection/collection-items-panel/CollectionItemsPanel.tsx
  src/sections/collection/collection-items-panel/items-list/ItemsList.module.scss
  src/sections/collection/collection-items-panel/items-list/ItemsList.tsx
  src/sections/collection/collection-items-panel/items-list/ItemsSortBy.tsx
  src/sections/collection/useGetCollectionQueryParams.ts
  src/stories/collection/collection-items-panel/ItemsSortBy.stories.tsx
  tests/component/sections/collection/collection-items-panel/ItemsSortBy.spec.tsx
  tests/e2e-integration/e2e/sections/collection/CollectionItemsPanel.spec.ts
  tests/e2e-integration/shared/datasets/DatasetHelper.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q4.1, FY25 Sprint 14

#583 Update README.md
  README.md
Labels: documentation, GREI Re-arch

#576 Collection page show lock/unlock icon for restricted files in the card
  package-lock.json
  package.json
  src/files/domain/models/FileItemTypePreview.ts
  src/files/infrastructure/mappers/JSFileItemTypePreviewMapper.ts
  src/sections/collection/collection-items-panel/items-list/file-card/FileCard.module.scss
  src/sections/collection/collection-items-panel/items-list/file-card/FileCardHeader.tsx
  tests/component/files/domain/models/FileItemTypePreviewMother.ts
  tests/component/sections/collection/collection-items-panel/file-card/FileCard.spec.tsx
Labels: Size: 3, SPA: Collection Page, GREI Re-arch, Original size: 3, SPA.Q4.2, FY25 Sprint 14, SPA.Q1

#581 Fix UploadDatasetFiles Component test
  src/sections/upload-dataset-files/uploaded-files-list/UploadedFiles.tsx
  src/sections/upload-dataset-files/uploaded-files-list/files-header/FilesHeader.tsx
  src/sections/upload-dataset-files/uploaded-files-list/restriction-modal/RestrictionModal.tsx
  tests/component/sections/upload-dataset-files/UploadDatasetFiles.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, FY25 Sprint 14, SPA.Q1

#578 add file tags, tabular variables, and observation into the item card information
  src/files/domain/models/FileItemTypePreview.ts
  src/files/domain/models/FileMetadata.ts
  src/files/infrastructure/mappers/JSFileItemTypePreviewMapper.ts
  src/files/infrastructure/mappers/JSFileMetadataMapper.ts
  src/sections/collection/collection-items-panel/items-list/file-card/FileCardInfo.tsx
  src/sections/dataset/dataset-files/files-table/file-info/file-info-cell/file-info-data/FileTabularData.tsx
  src/sections/file/file-labels/FileLabels.module.scss
  src/sections/file/file-metadata/FileMetadata.tsx
  tests/component/files/domain/models/FileItemTypePreviewMother.ts
  tests/component/files/domain/models/FileLabelMother.ts
  tests/component/files/domain/models/FileMetadataMother.ts
  tests/component/sections/collection/collection-items-panel/file-card/FileCard.spec.tsx
  tests/component/sections/dataset/dataset-files/files-table/files-info/file-info-cell/file-info-data/FileTabularData.spec.tsx
  tests/component/sections/file/file-metadata/FileMetadata.spec.tsx
  tests/e2e-integration/integration/files/FileJSDataverseRepository.spec.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch, Original size: 3, SPA.Q4.2, FY25 Sprint 14, FY25 Sprint 15
