Repository IQSS/dataverse-frontend, pull requests merged in 2025-07, with the labels that each got.

#753 Double Asterisk in Required Field Labels on Mobile
  packages/design-system/src/lib/components/form/form-group-multiple-fields/FormGroupWithMultipleFields.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/MetadataBlockFormFields/MetadataFormField/Fields/ComposeFieldMultiple.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/MetadataBlockFormFields/MetadataFormField/Fields/ComposedField.tsx
  src/sections/shared/form/DatasetMetadataForm/MetadataForm/MetadataBlockFormFields/MetadataFormField/index.module.scss
Labels: bug, SPA: Create Dataset Form, GREI Re-arch, SPA.Q2, FY25 Sprint 26

#741 Dataset page: Fix 404 error viewing dataset for deaccessioned version
  src/dataset/infrastructure/repositories/DatasetJSDataverseRepository.ts
  src/files/domain/repositories/FileRepository.ts
  src/files/domain/useCases/getFilesByDatasetPersistentIdWithCount.ts
  src/files/domain/useCases/getFilesCountInfoByDatasetPersistentId.ts
  src/files/domain/useCases/getFilesTotalDownloadSize.ts
  src/files/infrastructure/FileJSDataverseRepository.ts
  src/sections/collection/collection-items-panel/items-list/dataset-card/DatasetCardHelper.ts
  src/sections/dataset/Dataset.tsx
  src/sections/dataset/dataset-action-buttons/edit-dataset-menu/EditDatasetMenu.tsx
  src/sections/dataset/dataset-files/DatasetFilesScrollable.tsx
  src/sections/dataset/dataset-files/useFiles.tsx
  src/sections/dataset/dataset-files/useGetAccumulatedFiles.tsx
  src/sections/dataset/dataset-files/useGetFilesCountInfo.ts
  src/sections/dataset/dataset-files/useGetFilesTotalDownloadSize.ts
  src/sections/dataset/dataset-terms/DatasetTerms.tsx
  src/sections/dataset/dataset-versions/DatasetVersions.tsx
  src/sections/dataset/dataset-versions/view-difference/useGetDatasetVersionDiff.ts
  src/stories/dataset/dataset-versions/DatasetVersions.stories.tsx
  tests/component/dataset/domain/models/DatasetMother.ts
  tests/component/dataset/domain/models/DatasetVersionsSummariesMother.ts
  tests/component/sections/dataset/Dataset.spec.tsx
  tests/component/sections/dataset/dataset-files/DatasetFilesScrollable.spec.tsx
  tests/component/sections/dataset/dataset-terms/DatasetTerms.spec.tsx
  tests/component/sections/dataset/dataset-versions/DatasetVersions.spec.tsx
Labels: bug, Size: 3, SPA: Dataset page (View), GREI Re-arch, Original size: 3, SPA.Q2, FY25 Sprint 22, FY25 Sprint 23, FY25 Sprint 24, FY25 Sprint 25, FY25 Sprint 26, FY26 Sprint 1

#750 Account Page My Data: Integrate roles use case
  dev-env/docker-compose-dev.yml
  package-lock.json
  package.json
  src/roles/domain/models/Role.ts
  src/roles/domain/repositories/RoleRepository.tsx
  src/roles/domain/useCases/getUserSelectableRoles.ts
  src/roles/infrastructure/repositories/RoleJSDataverseRepository.ts
  src/sections/account/Account.tsx
  src/sections/account/AccountFactory.tsx
  src/sections/account/my-data-section/MyDataItemsPanel.tsx
  src/sections/account/my-data-section/my-data-filter-panel/MyDataFilterPanel.tsx
  src/sections/account/my-data-section/my-data-filter-panel/role-filters/RoleFilters.tsx
  src/sections/account/my-data-section/useSelectableRoles.tsx
  src/stories/account/Account.stories.tsx
  src/stories/account/RoleMockRepository.ts
  src/stories/account/account-info-section/AccountInfoSection.stories.tsx
  src/stories/account/api-token-section/ApiTokenSection.stories.tsx
  src/stories/account/my-data-section/MyDataItemsPanel.stories.tsx
  tests/component/roles/domain/models/RoleMother.ts
  tests/component/sections/account/MyDataItemsPanel.spec.tsx
  tests/component/sections/account/RoleFilters.spec.tsx
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q2.1, FY25 Sprint 26, FY26 Sprint 1

#748 747 - Release design system npm package version 2.0.0
  .npmrc.example
  DEVELOPER_GUIDE.md
  package-lock.json
  packages/design-system/CHANGELOG.md
  packages/design-system/README.md
  packages/design-system/package.json
Labels: Size: 3, D: Design System, GREI Re-arch, Original size: 3, SPA.Q2.11, FY25 Sprint 26, FY26 Sprint 1

#782 Upgrade Keycloak to 26.3.2
  dev-env/keycloak/Dockerfile
  dev-env/shib-dev-env/keycloak/Dockerfile
Labels: GREI Re-arch, SPA.Q3, Size: 0.5, FY26 Sprint 2, Original size: 0.5
